In [5]:
import geopandas as gpd

# Load the GeoJSON file as a GeoDataFrame
gdf = gpd.read_file('stations.geojson')

# Display the first few rows
gdf.head()

,name,agency,services,type,asset_code,type_code,point_id,view,align,x_offset,y_offset,wrap,geometry
0,Morris Hts,MNR,MNR-1,Station,None,61.0,7357.0,Region,left,0.0,-15.0,99.0,"MULTILINESTRING ((-77.51209 40.10259, -77.5120..."
1,Marble HIll,MNR,MNR-1,Station,None,61.0,6368.0,Region,left,0.0,15.0,99.0,"MULTILINESTRING ((-77.51556 40.10618, -77.5155..."
2,Yankees-E 153 St,MNR,MNR-1,Station,None,61.0,8895.0,Region,right,15.0,0.0,6.0,"MULTILINESTRING ((-77.50651 40.09993, -77.5065..."
3,Spuyten Duyvil,MNR,MNR-1,Station,None,61.0,8385.0,Region,right,0.0,15.0,99.0,"MULTILINESTRING ((-77.51663 40.10617, -77.5166..."
4,Riverdale,MNR,MNR-1,Station,None,61.0,9581.0,Region,left,0.0,0.0,99.0,"MULTILINESTRING ((-77.51693 40.10925, -77.5169..."

In [ ]:
# Transform the x_offset column as specified
def transform_x_offset(val):
    if pd.isnull(val):
        return val
    try:
        v = int(val)
        if v < 0:
            return -1
        elif v > 0:
            return 1
        else:
            return 0
    except (ValueError, TypeError):
        return val  # leave non-integer values unchanged

import pandas as pd

gdf['x_offset'] = gdf['x_offset'].apply(transform_x_offset)
gdf['y_offset'] = gdf['y_offset'].apply(transform_x_offset)

gdf.to_file("stations_updated.geojson", driver="GeoJSON")

gdf.head()

,name,agency,services,type,asset_code,type_code,point_id,view,align,x_offset,y_offset,wrap,geometry
0,Morris Hts,MNR,MNR-1,Station,None,61.0,7357.0,Region,left,0.0,-1.0,99.0,"MULTILINESTRING ((-77.51209 40.10259, -77.5120..."
1,Marble HIll,MNR,MNR-1,Station,None,61.0,6368.0,Region,left,0.0,1.0,99.0,"MULTILINESTRING ((-77.51556 40.10618, -77.5155..."
2,Yankees-E 153 St,MNR,MNR-1,Station,None,61.0,8895.0,Region,right,1.0,0.0,6.0,"MULTILINESTRING ((-77.50651 40.09993, -77.5065..."
3,Spuyten Duyvil,MNR,MNR-1,Station,None,61.0,8385.0,Region,right,0.0,1.0,99.0,"MULTILINESTRING ((-77.51663 40.10617, -77.5166..."
4,Riverdale,MNR,MNR-1,Station,None,61.0,9581.0,Region,left,0.0,0.0,99.0,"MULTILINESTRING ((-77.51693 40.10925, -77.5169..."